PORT=4000

NODE_ENV=development

MONGODB_URI=
JWT_ACCESS_SECRET= 

JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=somethingsecret

JWT_REFRESH_EXPIRES_IN=7d


# SMTP configuration for nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=


CLIENT_URL=http://localhost:4000